/* ==========================================
   Nama File: chat.css
   Deskripsi: CSS khusus halaman chat
   Penulis:   Fawwaz Yaqzhan
   Tanggal:   18-06-2026
   Catatan:
     - Mengatur tampilan halaman chat
   ========================================== */